[user]
	name = Antony David
	email = antonydavid945@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/jayllyz/.gitignore
	editor = code
	autocrlf = input
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[help]
	autocorrect = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
